<div id="fondo">
    <div class="container">
        <div class="box">
            <form [formGroup]="credencialesForm" (ngSubmit)="onSubmit()">
                <span class="text-center">Login</span>
                <div class="input-container">
                    <input type="email" formControlName="email" required>
                    <label>Email</label>
                </div>
                <div class="input-container">
                    <input type="password" formControlName="password" required>
                    <label>Password</label>
                </div>
                <button class="bt" type="submit" [disabled]="!credencialesForm.valid">Iniciar</button>
            </form>
            <div class="registro">
                <button (click)="registrase()">Registrate aqui</button>
            </div>
        </div>
    </div>
</div>