<app-header></app-header>



<div class="container">
    <div class="alert alert-secondary" role="alert" style="margin-top: 10px;">
        Bienvenido {{ usuario.nombres }}
      </div>
      <mat-tab-group>
        <mat-tab label="Perfil">
            
            <div class="container" style="margin-top: 30px;">
                <form #form="ngForm">
                    <div class="mb-3">
                      <label for="nombres" class="form-label">Nombres</label>
                      <input type="text" class="form-control" id="nombres" name="nombres" [(ngModel)]="usuario.nombres">
                    </div>
            
                    <div class="mb-3">
                        <label for="nacio" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" name="apellidos" [(ngModel)]="usuario.apellidos">
                      </div>
                      
                      <div class="mb-3">
                        <label for="npu" class="form-label">Identificación</label>
                        <input type="text" class="form-control" id="identificacion" name="identificacion" [(ngModel)]="usuario.identificacion" readonly>
                      </div>
    
                      <div class="mb-3">
                        <label for="npu" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="usuario.email" readonly>
                      </div>
            
                    <button class="btn btn-primary">Actualizar</button>
                  </form>
            </div>

        </mat-tab>
        <mat-tab label="Favoritos">

        </mat-tab>
        <mat-tab label="Compras">

        </mat-tab>
      </mat-tab-group>
</div>
